body{
  background: var(--bg-main);
  font-family: var(--font-primary);
}

.dashboard-wrapper {
  background: #f8fafc;
  min-height: 100vh;
}

/* Section overlap */
.dashboard-main {
  position: relative;
  background: #f8fafc;
  margin-top: -120px;
  z-index: 10;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 80px 30px 100px;
}

.dashboard-container {
  max-width: 1160px;
  margin: auto;
}

/* Heading Row */
.dashboard-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.dashboard-heading h2 {
  font-size: 36px;
  font-weight: 800;
  color: #0f172a;
}

/* Card Grid */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
  gap: 30px;
}

/* Cards */
.card {
  background: white;
  border-radius: 30px;
  padding: 35px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* Icon */
.card-icon {
  width: 60px;
  height: 60px;
  background: #e9f2ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-bottom: 18px;
}

/* Title */
.card h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

/* Text */
.card p {
  color: #64748b;
  font-size: 15px;
  line-height: 22px;
}

.btn-container {
  display: flex;
  justify-content: end;
}

.skill-btn {
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #142449;
  cursor: pointer;
  height: 30px;
  width: 135px;
  text-align: center;
}

/* ============= CARD ANIMATION ================= */

@keyframes cardPop {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}

.card {
  animation: cardPop 0.8s ease forwards;
}

.card:nth-child(2){
  animation-delay: .2s;
}

.card:nth-child(3){
  animation-delay: .3s;
}

/* Hover lift nice */
.card:hover {
  transform: translateY(-8px) scale(1.02);
}
