body{
  background: var(--bg-main);
  font-family: var(--font-primary);
}

.login-container{
  width: 820px;
  min-height: 520px;
  margin: 60px auto;
  background: var(--bg-card);
  display:flex;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 10px 35px rgba(0,0,0,0.25);
}



/* LEFT PANEL */
.login-left{
  width:50%;
  background: var(--bg-card-bg);
  text-align:center;
  padding:40px 30px;
}

.illustration{
  width:220px;
  margin-top:20px;
}

.left-title{
  color:white;
  margin-top:25px;
  font-size:22px;
}

.left-text{
  color:white;
  line-height:22px;
  margin-top:8px;
  font-size:14px;
}

.dots{
  margin-top:25px;
}

.dot{
  width:10px;
  height:10px;
  background:white;
  border-radius:50%;
  margin:0 4px;
  display:inline-block;
  opacity:0.5;
}

.dot.active{
  opacity:1;
}

/* RIGHT PANEL */
.login-right{
  width:50%;
  padding:50px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  overflow-y:auto;
}


.logo{
  text-align:center;
  font-size:26px;
  margin-bottom:10px;
}

.welcome{
  text-align:center;
  margin-bottom:25px;
  color:#444;
}

.input-label{
  display:block;
  margin-top:10px;
  font-size:14px;
  color:#555;
}

.input{
  width:100%;
  padding:10px;
  border:none;
  border-radius: 25px;
  border-bottom:1px solid #ccc;
  outline:none;
  font-size:14px;
  margin-bottom:10px;
}

.forgot{
  text-align:right;
  margin-top:3px;
}

.forgot a{
  text-decoration:none;
  font-size:12px;
  color:#777;
}

.signin-btn{
  width:100%;
  padding:10px;
  margin-top:18px;
  border:none;
  border-radius:25px;
  background:#4b4b4b;
  color:white;
  cursor:pointer;
  font-size:14px;
}

.divider{
  display:flex;
  align-items:center;
  margin:18px 0;
}

.divider span{
  flex:1;
  height:1px;
  background:#ddd;
}

.divider p{
  margin:0 10px;
  font-size:12px;
  color:#555;
}

.google-btn{
  width:100%;
  padding:9px;
  border:1px solid #ccc;
  border-radius:25px;
  background:white;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:8px;
}

.google-btn img{
  width:18px;
}

.create{
  text-align:center;
  margin-top:18px;
  font-size:14px;
}

.create a{
  text-decoration:none;
  color:green;
}

.password-wrapper{
  position:relative;
  width:100%;
}

.eye-icon{
  position:absolute;
  right:0;
  top:5px;
  cursor:pointer;
  padding:5px;
}

.create{
  text-align:center;
  margin-top:18px;
  font-size:14px;
}

.create a{
  text-decoration:none;
  color:green;
}
.error-message{
  color:red;
  font-size:12px;
  margin-top:5px;
}

/* { REGISTER PAGE STYLES } */
.register-left{
  width:50%;
  padding:40px 45px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}


.register-right{
  width:50%;
  background: var(--bg-card-bg);
  text-align:center;
  padding:40px 30px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}


.register-left .input{
  width:100%;
  margin-top:5px;
  margin-bottom:12px;
}

.illustration-register{
  width:220px;
  margin-top:20px;
}